<div class="container">
    <h1>Saisie des notes de frais</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Date de début</th>
                <td>22/05/2017</td>
                <th scope="row">Estimation Prime</th>
                <td>2100€</td>

            </tr>
            <tr>
                <th scope="row">Date de fin</th>
                <td>26/05/2017</td>
                <th scope="row">Ville de départ</th>
                <td>Nates</td>
            </tr>
            <tr>
                <th scope="row">Nature</th>
                <td>Conseil</td>
                <th scope="row">Ville d'arrivée</th>
                <td>Lyon</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="erreurTechnique" class="alert alert-danger" role="alert">
        Oopss !!!!!
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Nature</th>
                <th scope="col">Montant</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let frais of listfrais">
                <ng-template [ngIf]="frais">
                    <td>{{frais.date|date:'dd/MM/yyyy'}}</td>
                    <td>{{frais.natureFrais}}</td>
                    <td>{{frais.montantFrais}}€</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" (click)="openModification(modification, frais.id)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
                                </path>
                            </svg>
                        </button>

                        <button type="button" class="btn btn-outline-primary" (click)="supprimerFrais(frais.id)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                                </path>
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                                </path>
                            </svg>
                        </button>

                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>




<p class="text-right">Ajout d'une ligne de frais <button class="btn btn-success" (click)="open(content)">+</button>
</p>

<div>
    <button type="button" class="btn btn-link" (click)="validerNoteDefrais()">Valider note de Frais</button>
</div>

<!-- Modal -->
<ng-template #modification let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modification d'une ligne de frais</h4>
    </div>
    <div class="modal-body">

        <div>
            <p></p>
            <div>
                <form (ngSubmit)="ajouter()" #modicationForm="ngForm">
                    <div class="form-row">
                        <div class="col">
                            <label for="nature">Date</label>
                        </div>
                        <div class="col">
                            <input [(ngModel)]="fraisAModifier.date" type="date" class="form-control" id="nature"
                                name="nom" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <label for="facture">Nature</label>
                        </div>
                        <div class="col">
                            <input [(ngModel)]="fraisAModifier.natureFrais" class="form-control" id="natureFrais"
                                name="natureFrais" required>
                        </div>

                        <div *ngFor="let frais of listfrais">
                            <div *ngIf=frais.date>

                            </div>

                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col">
                            <label for="facture">Montant</label>
                        </div>
                        <div class="col">
                            <input [(ngModel)]="fraisAModifier.montantFrais" type="text" class="form-control"
                                id="montantFrais" name="montantFrais" #montantFrais="ngModel" required>
                            <p *ngIf="montantFrais.value < 0 ">
                                Le montant doit être positif.
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-danger" (click)="close()" type="reset">Annuler</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success" type="submit" (click)="modifierFrais()"
                                [disabled]=modicationForm.invalid>Valider</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</ng-template>

<!--Modal-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajout d'une ligne de frais</h4>
    </div>
    <div class="modal-body">

        <div>
            <p></p>
            <div>
                <form (ngSubmit)="ajouter()" #monForm="ngForm">
                    <div class="form-row">
                        <div class="col">
                            <label for="nature">Date</label>
                        </div>
                        <div class="col">
                            <input [(ngModel)]="fraisCree.date" type="date" class="form-control" id="nature" name="nom"
                                required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <label for="facture">Nature</label>
                        </div>
                        <div class="col">
                            <input [(ngModel)]="fraisCree.natureFrais" class="form-control" id="natureFrais"
                                name="natureFrais" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <label for="facture">Montant</label>
                        </div>
                        <div class="col">
                            <input [(ngModel)]="fraisCree.montantFrais" type="number" class="form-control"
                                id="montantFrais" name="montantFrais" #montantFrais="ngModel" required>
                            <p *ngIf="montantFrais.value < 0 ">
                                Le montant doit être positif.
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <button class="btn btn-danger" (click)="close()" type="reset">Annuler</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success" type="submit" [disabled]=monForm.invalid>Valider</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</ng-template>


