

<div class="row">
  <div class="table-responsive">
    <!--Tableau récapitulatif-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nature</th>
          <th scope="col">Facturée</th>
          <th scope="col">Prime</th>
          <th scope="col">TJM (€)</th>
          <th scope="col">% Prime</th>
          <th scope="col">Plafond</th>
          <th scope="col">plafond Depassable</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nature of listeNatures">
          <td>{{nature.nom}}
          </td>
          <td>{{nature.missionFacturee ? 'OUI' : 'NON'}}</td>
          <td>{{nature.versementPrime ? 'OUI' : 'NON'}}</td>
          <td>{{nature.tjm}}</td>
          <td>{{nature.pourcentagePrime}}</td>
          <td>{{nature.plafond}}</td>
          <td>{{nature.plafondDepassable ? 'OUI' : 'NON'}}</td>
          <td>
            
            <app-supprimer-nature [nature]="nature"></app-supprimer-nature>
            <app-modifier-nature [nature]="nature"></app-modifier-nature>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-ajout-nature></app-ajout-nature>