<div class="container">
    <h1>Récapitulatif de primes</h1>

    <form #etatForm="ngForm">
    <div *ngIf="erreurTechnique" class="alert alert-danger" role="alert">
        Oopss !!!!!
    </div>
    <div class="form-group row" >
        <label for="anneeS" class="col-md-4 col-form-label">Année</label>
        <select class=" form-control custom-select mr-sm-2" #anneeS="ngModel" [(ngModel)]="anneeSelect"
            id="anneeS" name="anneeS" >
            <option *ngFor="let annee of listAnnee" (click)="alert(annee)">{{annee}}
            </option>
        </select>
    </div>
</form> 


    <button (click)="exportexcel()"  >Excel</button>



    <table class="table table-striped" id="excel-table">
        <thead>
            <tr>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Nature</th>
                <th scope="col">Prime</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mission of listMission">
                <td>{{mission.dateDebut|date:'dd/MM/yyyy'}}</td>
                <td>{{mission.dateFin|date:'dd/MM/yyyy'}}</td>
                <td>{{mission.nomNature}}</td>
                <td>{{mission.prime}}</td>
            </tr>
        </tbody>
    </table>
</div>

